{
  "parser": "babel-eslint",

  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },

  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "plugins": [
    "import",
    "react"
  ],

  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:react/recommended"
  ],

  "rules": {
    "no-unused-vars": [ 2, { "ignoreRestSiblings": true }],
    "no-multiple-empty-lines": ["error", {"max": 2}],
    "indent": ["error", 2]
  }
}